<p>
  project-details works!
</p>
<!--<div>-->
  <!--<h2>{{selectedProject.name | uppercase}} Details</h2>-->
  <!--<div><span>id: </span>{{selectedProject.id}}</div>-->
  <!--<div>-->
    <!--<label>name:-->
      <!--<input ngModel="selectedProject.name" placeholder="name"/>-->
    <!--</label>-->
  <!--</div>-->
  <!--<div>-->
    <!--<label>description:-->
      <!--<input ngModel="selectedProject.description" placeholder="description"/>-->
    <!--</label>-->
  <!--</div>-->
  <!--<div>-->
    <!--<label>-->
      <!--<button (click)="createProject(selectedProject)">Create</button>-->
    <!--</label>-->
    <!--<label>-->
      <!--<button (click)="saveProject(selectedProject)">Save</button>-->
    <!--</label>-->
  <!--</div>-->

<!--</div>-->
